body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h1, h2 {
    color: #333;
}

#balanceWheelCanvas {
    background-color: transparent; /* Прозрачный фон */
    box-shadow: none; /* Убираем тень */
    display: block;
    margin: 0 auto; /* Центрируем по горизонтали */
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
